{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} HOME {% endblock %}</h1>
    <hr>
    <p>情報技術者試験</p>
    <a href="{{ url_for('word') }}" class="navbar-item">用語</a>
    <hr>
    <p>ゲーム</p>    
    <a href="{{ url_for('word_karuta') }}" class="navbar-item">単語かるた</a>
    &nbsp;/&nbsp;
    <a href="{{ url_for('hsk_type') }}" class="navbar-item">hskタイピング</a>
    <hr>
    <p>リンク</p>
    <div style="text-align:center;">
        <a href="https://x.com/5eVAGOZt6B69912" target="_blank" class="profile-link" style="margin:0 1em;">X（Twitter）</a>
        <!-- <a href="https://github.com/fujita1984" target="_blank" class="profile-link" style="margin:0 1em;">GitHub</a> -->
    </div>
{% endblock %}
